# Created by .ignore support plugin (hsz.mobi)
*.class
.mtj.tmp/
*.war
*.ear
hs_err_pid*

.idea/*.xml
*.iml
.idea/compiler.xml
.idea/copyright/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
drizzleIM.iml
